body {
  padding: 0 5vw;
}

#operands-form {
  max-width: 36rem;
  margin: auto;
}

.input-group-text {
  border: none;
  background: transparent;
}

@media screen and (max-width: 640px) {
  .input-group {
    flex-direction: column;
  }
}

@media screen and (min-height: 600px) {
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
