#operands-form {
  max-width: 36rem;
  margin: auto;
}

@media screen and (max-width: 594px) {
  .input-group {
    flex-direction: column;
  }
}

@media screen and (min-height: 600px) {
  footer {
    position: fixed;
    bottom: 0;
  }
}
