#operands-form {
  max-width: 35rem;
  margin: auto;
}

#opcode {
  width: 15rem;
}

@media screen and (max-width: 594px) {
  .input-group {
    flex-direction: column;
  }
}

@media screen and (min-height: 500px) {
  footer {
    position: fixed;
    bottom: 0;
  }
}
